.git
.gitignore
.gitattributes

*.docx
*.pdf
*.pptx
README.md
!auth-service/README.md
!main-backend/README.md
!forecasting-service/README.md

.vscode
.idea
*.swp

logs/
*.log
forecasting-service/data/datasets/
forecasting-service/data/models/*.pkl

node_modules/
dist/

__pycache__
*.pyc
.pytest_cache
.mypy_cache
.venv
venv