ENVIRONMENT=development
DEBUG=False
APP_NAME=auth-service
APP_VERSION=0.1.0
BASE_URL=http://localhost:8001

AUTO_VERIFY_EMAIL_IN_DEV=True

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=auth_db
POSTGRES_POOL_SIZE=10
POSTGRES_MAX_OVERFLOW=20


JWT_ACCESS_SECRET_KEY=B9W1p7qK0jewcDSz98m6DKyhvPG5C3JBw3xFnldD6YjKVqD-t26st7LuW2OBDTR4G9O80TE6FqDvDktrzOqfHg
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

JWT_AUTH_SECRET_KEY=EGp2vsRJxG-pXpfp6t5PfIpuM73degreSWhY-KAAsch4N5Hwtdmu-Qpni-9AGO9kmUL_xhOsadJBcU6eOad8EA
JWT_AUTH_TOKEN_EXPIRE_MINUTES=5

JWT_ISSUER=auth-service
JWT_AUDIENCE=real-estate-app

INTERNAL_SERVICE_TOKEN=FQz1C0EOMgRCYav6sPirp1QiZzK-VUcq4RYIft-JDvA


REFRESH_TOKEN_EXPIRE_DAYS=7
MAX_SESSIONS_PER_USER=10


TOTP_ENCRYPTION_KEY=dqVhqmofFZGQ1T4yA0TiX-i80cZ7DbErWutgAm5r6cs=
TOTP_ISSUER_NAME=AuthService
TOTP_VALID_WINDOW=1


MAIL_USERNAME=kostyam1102@gmail.com
MAIL_PASSWORD=rhdp rdrj yyop ndmo
MAIL_FROM=kostyam1102@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False


EMAIL_CONFIRM_TOKEN_EXPIRE_SECONDS=900
PASSWORD_RESET_TOKEN_EXPIRE_SECONDS=900
URL_SAFE_TOKEN_SECRET=QdaNY21AUYj4kVhJ_lsG4zBizecOxa9d96Eai98TKm8


RATE_LIMIT_LOGIN_ATTEMPTS=5
RATE_LIMIT_LOGIN_WINDOW_SECONDS=300
RATE_LIMIT_REGISTER_ATTEMPTS=3
RATE_LIMIT_REGISTER_WINDOW_SECONDS=3600
