ENVIRONMENT=development
DEBUG=True
APP_NAME=real-estate-app
APP_VERSION=0.1.0
BASE_URL=http://localhost:8002

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=main_db
POSTGRES_POOL_SIZE=10
POSTGRES_MAX_OVERFLOW=20


JWT_ACCESS_SECRET_KEY=B9W1p7qK0jewcDSz98m6DKyhvPG5C3JBw3xFnldD6YjKVqD-t26st7LuW2OBDTR4G9O80TE6FqDvDktrzOqfHg
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1500

JWT_ISSUER=auth-service
JWT_AUDIENCE=real-estate-app

INTERNAL_SERVICE_TOKEN=FQz1C0EOMgRCYav6sPirp1QiZzK-VUcq4RYIft-JDvA